* {
  box-sizing: border-box;
}

html {
  margin-bottom: 50px;
}

body {
  background-color: azure;
  font-size: 100%;
}

a {
  text-decoration: none;
  display: block;
}

pre {
  overflow-x: auto;
}
















/*NavBar*/

nav {
margin-left: -17px;
}

nav ul {
border-top: 1px solid silver;
background-color: black;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
animation: ani1 3s linear 2s infinite alternate;
}

@keyframes ani1 {
from {border-top: 1px solid silver;}
to {border-top: 1px solid red;}
}

nav ul li {
border-right: 1px solid silver;
display: inline-block;
}

nav ul li:last-child {
border-right: none;
float: right;
}

nav ul li a {
padding: 5px;
text-decoration: none;
font-size: 1.2em;
transition: all .5s;
color: white;
}

nav ul li a:hover {
  color: red;
}

@media all and (max-width: 600px) {
nav ul li a {
font-size: 1em;
padding: 3px;
}
nav ul li:nth-child(4) {
	display: none;
}
p {
font-size: 1em;
}
}
